<!DOCTYPE html>
<html>
<head>
  <title>HGVD.org</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.3.0/build/cssreset/reset-min.css&3.3.0/build/cssfonts/fonts-min.css&3.3.0/build/cssbase/base-min.css">
  <!-- The 1140px Grid --> 
  <%= stylesheet_link_tag "1140", :media => "screen" %>
	
  <!--[if lte IE 9]>
  <%= stylesheet_link_tag "ie", :media => "screen" %>
  <![endif]--> 
  <!-- Type and image presets --> 
  <!-- %= stylesheet_link_tag "typeimg", :media => "screen" %-->
  <!-- Make minor type adjustments for 1024 monitors --> 
  <%= stylesheet_link_tag "smallerscreen", :media => "only screen and (max-width: 1023px)" %>
  <!-- Resets grid for mobile --> 
  <%= stylesheet_link_tag "mobile", :media => "handheld, only screen and (max-width: 767px)" %>
  <!-- Put your layout here --> 
  <%= stylesheet_link_tag "layout", :media => "screen" %>

  <%= stylesheet_link_tag "application", :media => "screen" %>
  
  <%= csrf_meta_tag %>
<% if Rails.env == 'production' and ENV['GOOGLE_ANALYTICS_UA'].present? %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= ENV['GOOGLE_ANALYTICS_UA'] %>']);
  <% if ENV['GOOGLE_ANALYTICS_DOMAIN'].present? %>_gaq.push(['_setDomainName', '<%= ENV['GOOGLE_ANALYTICS_DOMAIN'] %>']);<% end %>
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
</head>
<body>
<div class="container" id="header">
  <div class="row">
    <div class="sixcol">
      <%= link_to(image_tag("hgvd-300x66.inverted.png", :title => "HGVD.org Human Genetic Variation in Disease", :id => "logo"), root_path) %>
    </div>
    <div class="sixcol last">
      <ul id="navigation">
        <li><%= link_to("Home", root_path) %></li>
        <li><%= link_to("Articles", articles_path)%></li>
        <li><%= link_to("Diseases", diseases_path) %></li>
        <li><%= link_to("Genes", genes_path) %></li>
        <li>About</li>
      </ul>
      <ul id="signin">
      <% if current_user %>
        <li>Welcome, <%= current_user.name %>!</li>
        <li><%= link_to "Sign Out", signout_path %></li>
      <% else %>
        <li><%= link_to image_tag("twitter_32.png"), "/auth/twitter" %></li>
        <li><%= link_to image_tag("facebook_32.png"), "/auth/facebook" %></li>
        <li><%= link_to image_tag("google_32.png"), "/auth/google" %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container" id="main">
  <div class="row">
    <div class="twelvecol">
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "message" if msg.is_a?(String) %>
    <% end %>
      <%= yield %>
    </div>
  </div>
</div>
<div class="container" id="footer">
  <div class="row">
  </div>
</div>
</body>
</html>
